<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="first_name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Astronaut_form_edit" 
        service="Astronaut" 
        entity="Astronaut" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #first_name attr="first_name" label=" first_name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #last_name attr="last_name" label="last_name" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-date-input #birth_date attr="birth_date" type="date" label="birth_date" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
      <o-integer-input #missions_count attr="missions_count" label="missions_count" type="integer" editable="no" required="no" ></o-integer-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="ASTRONAUTMISSION-astronaut_id">
    <div layout-padding>
      <o-table 
        attr="AstronautMissionTable" 
        service="AstronautMission" 
        entity="AstronautMission" 
        keys="id"
        parent-keys="astronaut_id:id"
        columns="id;astronaut_id;mission_id"  
        horizontal-scroll="yes"
        detail-form-route="AstronautMission" 
        edit-form-route="AstronautMission"
        visible-columns="id;astronaut_id;mission_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="astronaut_id" title="astronaut_id">
    <o-table-cell-renderer-service attr="astronaut_id" 
        service="Astronaut" entity="AstronautType" columns="id;first_name"
        parent-keys="id:astronaut_id"
        value-column="first_name" keys="astronaut_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="mission_id" title="mission_id">
    <o-table-cell-renderer-service attr="mission_id" 
        service="Mission" entity="MissionType" columns="id;name"
        parent-keys="id:mission_id"
        value-column="name" keys="mission_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="ASTRONAUTSKILL-astronaut_id">
    <div layout-padding>
      <o-table 
        attr="AstronautSkillTable" 
        service="AstronautSkill" 
        entity="AstronautSkill" 
        keys="id"
        parent-keys="astronaut_id:id"
        columns="skill_name;astronaut_id;level;id"  
        horizontal-scroll="yes"
        detail-form-route="AstronautSkill" 
        edit-form-route="AstronautSkill"
        visible-columns="skill_name;astronaut_id;level;id"  
        sort-columns="skill_name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #skill_name attr="skill_name" title=" skill_name*" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column attr="astronaut_id" title="astronaut_id">
    <o-table-cell-renderer-service attr="astronaut_id" 
        service="Astronaut" entity="AstronautType" columns="id;first_name"
        parent-keys="id:astronaut_id"
        value-column="first_name" keys="astronaut_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #level attr="level" title="level" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="ASTRONAUTTRAINING-astronaut_id">
    <div layout-padding>
      <o-table 
        attr="AstronautTrainingTable" 
        service="AstronautTraining" 
        entity="AstronautTraining" 
        keys="id"
        parent-keys="astronaut_id:id"
        columns="id;astronaut_id;session_date;location"  
        horizontal-scroll="yes"
        detail-form-route="AstronautTraining" 
        edit-form-route="AstronautTraining"
        visible-columns="id;astronaut_id;session_date;location"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="astronaut_id" title="astronaut_id">
    <o-table-cell-renderer-service attr="astronaut_id" 
        service="Astronaut" entity="AstronautType" columns="id;first_name"
        parent-keys="id:astronaut_id"
        value-column="first_name" keys="astronaut_id"
        visible-columns="first_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #session_date attr="session_date" type="date" label="session_date" enabled="yes" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #location attr="location" title="location" editable="no" required="yes" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>